.App {
  width: fit-content;
  overflow-x: hidden;
}

.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.product:hover {
  transform: scale(1.05);
  transition: transform 0.25s ease-out;
  box-shadow: 1px 8px 20px grey;
}

@media screen and (max-width: 768px) {
  .hero-img {
    margin-bottom: -100px !important;
  }
}
